:root {
  --accent: #007aff;
  --background: #353535;
  --foreground: #202124;
  --white: #ffffff;
  --black: #000000;
  --text: #a6adb4;
  --danger: #d10404;
}

select option {
  text-transform: capitalize;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}
