:root {
  --accent: #007aff;
  --background: #353535;
  --foreground: #202124;
  --white: #ffffff;
  --black: #000000;
  --text: #a6adb4;
  --danger: #d10404;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background, #353535);
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.inner-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.inner-wrapper-start {
  display: flex;
  gap: 1rem;
}

.box {
  padding: 1rem 1.5rem;
  background-color: var(--foreground);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box-title {
  font-size: 1.2rem;
  color: var(--text);
  font-weight: 600;
  padding: 0 0.5rem;
  border-left: solid 3px var(--accent);
}

.box-title-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: var(--white);
  background-color: var(--accent);
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  padding: 0.5rem;
  border-radius: 8px 0 0 8px;
  font-size: 1.2rem;
  outline: none;
  background-color: var(--black);
  border: none;
  color: var(--white);
  width: 100%;
}

/* Appliances Section */
.appliances {
  height: 100vh;
  width: 300px;
}

.appliances .btn {
  border-radius: 0 8px 8px 0;
}
/* End of Appliances Section */

/* Appliances/Playground/Info Section */
.appliances .appliances-container,
.playground .appliances-container {
  /* height: 100%; */
  width: 100%;
  overflow: hidden auto;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  gap: 1rem;
  flex-wrap: wrap;
}

.appliances .appliance-container,
.playground .appliance-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  justify-content: center;
}

.appliances .appliance,
.playground .appliance,
.info .appliance {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  border-radius: 8px;
  border: solid 2px transparent;
}

.appliances .text-sm,
.playground .text-sm {
  color: var(--white);
  font-weight: 400;
  width: 80px;
}

.appliances .appliance:hover,
.playground .appliance:hover {
  border-color: var(--accent);
}
.appliances .text-sm:hover,
.playground .text-sm:hover {
  color: var(--accent);
}
/* End of Appliances/Playground/Info Section */

/* text */
.text-md {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.8rem;
}

/* Playground Section */
.playground {
  flex: 1;
  height: 100vh;
}

.playground .appliance-container {
  position: relative;
  margin-top: 30px;
}

.playground .del-btn {
  height: 20px;
  width: 20px;
  background-color: var(--danger);
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -5px;
  cursor: pointer;
  color: var(--white);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playground .del-btn:hover {
  opacity: 0.75;
}

/* End of Playground Section */

/* Info Section */
.info {
  gap: 1rem;
}

.info-inner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-inner .appliance {
  align-self: center;
}

.info .appliance-badge {
  padding: 0.75rem;
  text-align: center;
  background-color: var(--black);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--white);
  font-weight: 400;
}

.info .specs-box {
  padding: 1.2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--background);
}

.specs-box .title {
  font-size: 0.8rem;
  color: var(--text);
}

.specs-box .specs-value {
  padding: 0.5rem 0.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  background-color: var(--black);
  border-radius: 8px;
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
}

.specs-box span:first-of-type {
  flex: 1;
}

.specs-box .specs {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  font-size: 0.8rem;
  color: var(--text);
  font-weight: 400;
  background-color: var(--background);
}

.specs-box .total {
  color: var(--accent);
  font-size: 1.2rem;
}

.total-specs {
  margin: 0.5rem 0;
}

.list-of-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}

/* End of Info Section */
