.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selectContainer label {
  font-size: 0.8rem;
  color: var(--text);
  font-weight: 400;
}

.selectContainer select {
  padding: 0.5rem;
  outline: none;
  border: none;
  font-size: 0.8rem;
}
